body {
  background-image: url('images/sun-shining-dark-clouds-green-field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content:space-around;
  /* background-color: rgba(238, 93, 93, 0.7);
  border-radius: 15px; */
}

h1{
  font-size: 100px;
  font-weight: bolder;
  color:bisque;
  text-shadow: 55px;
}

.search {
  background: none;
  border: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-icon {
  width: 25px;
  height: auto;
  background:none;
  position: absolute;
  transform: translateY(-80%);
  right: 30px;

}

.location1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-icon {
  width: 100px;
  height: auto;
}

#location-name {
  border: none;
  background: none;
  color: aliceblue;
  font-size: medium;
}

#search {
  width: 50rem;
  height: 5rem;
  border: none;
  border-radius: 25px;
  text-align: center;
  color: aliceblue;
  background-color: transparent;
  outline-style: none;
  background-color: rgba(255, 255, 255, 0.2);
}

#search::placeholder {
  color: aliceblue;
  font-size: large;
  text-size-adjust: large;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2.5rem;

}

.city-section, .temp-section{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: none;
  border-radius: 15px;
  backdrop-filter: blur(100px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#highlow {
  text-align: center;
}

.city-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

#city, #temp{
  font-size: 50px;
  font-weight: bolder;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-transform: capitalize;
}

#temp {
  font-size: 250px;
  font-family:monospace;
  font-weight: 100;
}

#time {
  font-size: 50px;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  padding-left: 1rem;
}

#highlow {
  font-size: 50px;
  color:aliceblue;
  font-family: monospace;
}


#weatherConditionIcon {
  width: 100px;
  height: auto;
}

.weatherStatus {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  text-transform: capitalize;
  color: aliceblue;
  font-size: 50px;
}

@media only screen and (max-width: 1000px) {
  /* Styles for screens smaller than 600px (e.g., smartphones) */
  body {
      background-size: cover;
      height: 200vh;
  }

  nav {
    flex-wrap: wrap;
  }

  #search-icon {
    right: 25px;
    bottom: 0px;
  }

  #search {
    width: 250px;
  }

  #location-name {
    width: 100px;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  #search {
    width: 15rem;
    height: 2rem;
    border: none;
    border-radius: 25px;
    text-align: center;
    color: aliceblue;
    background-color: transparent;
    outline-style: none;
    background-color: rgba(255, 255, 255, 0.2);
  }

  #search::placeholder {
    color: aliceblue;
    font-size:small;
    text-size-adjust: large;
  }


  h1{
    font-size:xx-large;
    font-weight: bolder;
    color:bisque;
    text-shadow: 55px;
  }

  #city, #temp{
    font-size: 50px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
  }
  
  #temp {
    font-size: 50px;
    font-family:monospace;
    font-weight: 100;
  }

  .location-icon {
    width: 25px;
    height: auto;
  }
  
  #time {
    font-size: 25px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding-left: 1rem;
  }
  
  #highlow {
    font-size:large;
    color:aliceblue;
    font-family: monospace;
  }
  
  
  #weatherConditionIcon {
    width: 50px;
    height: auto;
  }

  .weatherStatus {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    text-transform: capitalize;
    color: aliceblue;
    font-size: 25px;
  }

}